<div class="main col-md-12">
  <h2 class="col-md-12" style="text-align: center; color: white;">
    Available {{ heading }}
  </h2>

  <div class="col-md-12">
    <ag-grid-angular
      style="height: 600px;"
      class="ag-theme-alpine col-md-12"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [headerHeight]="50"
      [rowHeight]="55"
      [suppressMenuHide]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
  <div class="col-md-12 buttondiv">
    <button
      *ngIf="user.type == 'admin'"
      class="btn btn-primary"
      type="button"
      routerLink="/home/register"
    >
      Create a new user
    </button>
    <button
      *ngIf="user.type == 'superAdmin'"
      class="btn btn-primary"
      type="button"
      routerLink="/home/register"
    >
      Create a new Admin
    </button>
  </div>
</div>
