<!--Section to update status and comments, Can be created as component if needed-->
<div class="main col-md-12">
  <h1 style="text-align: center;" *ngIf="request.requestID">
    {{ request.requestID.title }}
  </h1>
  <h5 style="text-align: center;">
    Created By: {{ request.requestID ? request.requestID.createdBy : "" }}
    {{ request.requestID ? request.requestID.createdBy : "" }}
  </h5>

  <div class="col-md-12 details">
    <div class="col-md-6">
      <div class="col-md-12">
        <b>Token:</b>
        {{ request.requestID ? request.requestID.token : "" }}
      </div>
      <div class="col-md-12">
        <b>Full Name:</b>
        {{ request.requestID ? request.requestID.fullName : "" }}
      </div>
      <div class="col-md-12">
        <b>Current Country:</b>
        {{ request.requestID ? request.requestID.currentCountry : "" }}
      </div>
      <div class="col-md-12">
        <b>Contact Phone:</b>
        {{ request.requestID ? request.requestID.contactPhone : "" }}
      </div>
      <div class="col-md-12">
        <b>status:</b>
        {{ request.requestID ? request.requestID.status : "" }}
      </div>
      <div class="col-md-12">
        <b>assignedTo:</b>
        {{ request.requestID ? request.requestID.assignedTo : "" }}
      </div>
      <div class="col-md-12">
        <b>created at:</b>
        {{ request.requestID ? request.requestID.created_at : "" }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <b>Age:</b>
        {{ request.requestID ? request.requestID.age : "" }}
      </div>
      <div class="col-md-12">
        <b>Gender Address:</b>
        {{ request.requestID ? request.requestID.gender : "" }}
      </div>
      <div class="col-md-12">
        <b>supportRequested :</b>
        {{ request.requestID ? request.requestID.supportRequested : "" }}
      </div>
      <div class="col-md-12">
        <b>supportRequiredFor:</b>
        {{ request.requestID ? request.requestID.supportRequiredFor : "" }}
      </div>
      <div class="col-md-12">
        <b>Contact Full Name:</b>
        {{ request.requestID ? request.requestID.contactFullName : "" }}
      </div>
      <div class="col-md-12">
        <b>district:</b>
        {{ request.requestID ? request.requestID.district : "" }}
      </div>
      <div class="col-md-12">
        <b>postal:</b>
        {{ request.requestID ? request.requestID.postal : "" }}
      </div>
    </div>
  </div>
  <div class="separator col-md-12"></div>
  <h3 style="text-align: center;" *ngIf="request.requestID">
    Request Status
  </h3>

  <div class="col-md-12">
    <div class="col-md-4" *ngFor="let item of requestdata; let last = last">
      <div class="col-md-11 journeydiv1">
        <div
          class="stepdiv1 col-md-12"
          [ngClass]="{
            new: item.statusid === 1,
            inprogress: item.statusid == 2,
            resolved: item.statusid == 3,
            archive: item.statusid == 4
          }"
        >
          <b>Assigned To:</b> {{ item.assigned }}
          <div class="col-md-12"><b>Status:</b> {{ item.status }}</div>
          <div class="col-md-12"><b>Comment:</b> {{ item.comment }}</div>
        </div>
      </div>
      <div class="col-md-1 arrowdiv" *ngIf="!last">
        <div><span class="arrow">&#8594;</span></div>
      </div>
    </div>
  </div>
  <div class="separator col-md-12"></div>
  <div
    *ngIf="(request.requestID && request.requestID.status != 4) || isVolunteer"
  >
    <h3 style="text-align: center;">Add Comment</h3>
    <form class="col-md-12" #commentForm="ngForm" (ngSubmit)="update(updates)">
      <div class="container col-md-12">
        <label class="col-md-12" for="comment"><b>Comment</b></label>
        <textarea
          class="form-control col-md-12"
          placeholder="Comment"
          [(ngModel)]="updates.comment"
          [maxlength]="400"
          name="comment"
          #comment="ngModel"
          required
        >
        </textarea>
        <div
          [hidden]="comment.valid || comment.pristine"
          class="alert alert-danger col-md-12"
        >
          Comment is required
        </div>

        <label class="col-md-12" for="status">
          <b>Status</b>
        </label>
        <select
          [(ngModel)]="updates.status"
          class="form-control col-md-12"
          name="status"
          required
          #status="ngModel"
        >
          <option disabled> Status</option>
          <option *ngFor="let status of statuses" [ngValue]="status.value">{{
            status.label
          }}</option>
        </select>
        <div
          [hidden]="status.valid || status.pristine"
          class="alert alert-danger col-md-12"
        >
          Status is required
        </div>

        <b> Mark as resolved will auto assign to volunteer</b>
        <button
          class="col-md-12"
          [ngClass]="{ disabled: !commentForm.form.valid }"
          [disabled]="!commentForm.form.valid"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
