.btn {
  margin-top: 20px;
}

  button:hover {
    opacity: 0.8;
  }
  
  .role {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid transparent;
    background-clip: padding-box;
    min-height: 150px;
  }
  
  .buttondiv {
    text-align: center;
  }
  
  .active{
    background-color: blue;
    color: white;
    font-weight: 700;
  }

  ul {
    border-bottom: 5px solid black;
    margin-bottom: 20px;
  }

  .categories {
    cursor: pointer;
  }

  .category_tabs {
    padding: 10px 20px 10px 20px;
    border: 1px solid lightslategray;
    border-radius: 5px;
  }