<div class="main col-md-12">
  <h2 class="col-md-12" style="text-align: center;">Available Roles</h2>
  <ul class="nav nav-pills col-md-12">
    <li *ngFor="let item of categories" class="categories">
      <div
        class="category_tabs"
        (click)="showRoles(item)"
        [ngClass]="{ active: selectedCategory === item }"
      >
        {{ item }}
      </div>
    </li>
  </ul>
  <div class="col-md-12 container-fluid">
    <div class="row">
      <div
        class="col-md-3 col-md-offset-1 role"
        *ngFor="let role of filtered_roles"
      >
        <div class="col-md-12"><b>Role:</b> {{ role.name }}</div>
        <div class="col-md-12">
          <b>Description:</b> {{ role.description }}
        </div>
        <div class="col-md-12"><b>Category:</b> {{role.category.name}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-12 buttondiv">
    <button type="button" routerLink="/roles/create">
      Create a new role
    </button>
  </div>
</div>

