<div class="main col-md-12">
  <h2 style="text-align:center">Create Category</h2>
  <form class="col-md-12" #categoryForm="ngForm" (ngSubmit)="create(category)">
    <div class="container col-md-12">
      <label class="col-md-12" for="category"><b>Category</b></label>
      <input
        type="text"
        [(ngModel)]="category.name"
        class="form-control col-md-12"
        placeholder="Enter Category"
        name="categoryName"
        required
        #categoryName="ngModel"
      />
      <div
        [hidden]="categoryName.valid || categoryName.pristine"
        class="alert alert-danger col-md-12"
      >
        Category Name is required
      </div>

      <label class="col-md-12" for="psw"><b>Description</b></label>
      <input
        type="text"
        [(ngModel)]="category.description"
        class="form-control col-md-12"
        placeholder="Enter Description"
        name="description"
        #description="ngModel"
      />
      <button class="col-md-12" [ngClass]="{disabled:!categoryForm.form.valid}" [disabled]="!categoryForm.form.valid" type="submit">
        Create
      </button>
    </div>
  </form>
</div>
