<h2>Create Category</h2>
<div>
  <form #categoryForm="ngForm" (ngSubmit)="create(category)">
    <div class="container">
      <label for="category"><b>Category</b></label>

      <input
        type="text"
        [(ngModel)]="category.name"
        class="form-control"
        placeholder="Enter Category"
        name="categoryName"
        required
        #categoryName="ngModel"
      />
      <div
        [hidden]="categoryName.valid || categoryName.pristine"
        class="alert alert-danger"
      >
        Category Name is required
      </div>

      <label for="psw"><b>Description</b></label>
      <input
        type="text"
        [(ngModel)]="category.description"
        class="form-control"
        placeholder="Enter Description"
        name="description"
        #description="ngModel"
      />
      <button [disabled]="!categoryForm.form.valid" type="submit">
        Create
      </button>
    </div>
  </form>
</div>
