<div class="main col-md-12">
  <h2 style="text-align: center;">Create Roles</h2>

  <form class="col-md-12" #roleForm="ngForm" (ngSubmit)="create(role)">
    <div class="container col-md-12">
      <label class="col-md-12" for="name"><b>Role</b></label>
      <input
        type="text"
        [(ngModel)]="role.name"
        class="form-control col-md-12"
        placeholder="Enter Role"
        name="name"
        required
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger col-md-12">
        Role Name is required
      </div>

      <label class="col-md-12" for="psw"><b>Description</b></label>
      <input
        type="text"
        [(ngModel)]="role.description"
        class="form-control col-md-12"
        placeholder="Enter Description"
        name="description"
        #description="ngModel"
      />
      <label class="col-md-12" for="category">Category</label>
      <select
        [(ngModel)]="role.category"
        name="category"
        class="form-control col-md-12"
        required
        #category="ngModel"
      >
        <option disabled>Select Category</option>
        <option *ngFor="let category of categories" [ngValue]="category._id">{{
          category.name
        }}</option>
      </select>
      <div [hidden]="category.valid || category.pristine" class="alert alert-danger col-md-12">
        Category is required
      </div>
      <div class="col-md-12 buttondiv">
        <button class="btn btn-success" [ngClass]="{disabled:!roleForm.form.valid}" [disabled]="!roleForm.form.valid" type="submit">
          Create Role
        </button>
      </div>
    </div>
  </form>
</div>
