<div class="main col-md-12">
  <h2 class="col-md-12" style="text-align: center;">Available Categories</h2>
  <!-- <div class="col-md-12 container-fluid">
    <div class="row">
      <div
        class="col-md-3 col-md-offset-1 category"
        *ngFor="let category of categories"
      >
        <div class="col-md-12"><b>Category:</b> {{ category.name }}</div>
        <div class="col-md-12">
          <b>Description:</b> {{ category.description }}
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-12">
    <ag-grid-angular
      style="height: 600px;"
      class="ag-theme-alpine col-md-12"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [headerHeight]="50"
      [rowHeight]="55"
      [suppressMenuHide]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
  <div class="col-md-12 buttondiv">
    <button class="btn btn-primary" type="button" routerLink="/category/create">
      Create a new category
    </button>
  </div>
</div>
