<div class="col-md-12 heading">SELECT THE REQUIRED OPTION</div>
<div class="main col-md-11">

  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 imgdiv" routerLink="/admin_home/user">
            <img
              width="200"
              height="200"
              class="col-md-12"
              src="../../../assets/images/user.png"
            />
            <div class="col-md-12 imgtxt">USERS</div>
          </div>
          <div class="col-md-3 imgdiv" routerLink="/category">
            <img
              width="200"
              height="200"
              class="col-md-12"
              src="../../../assets/images/category.png"
            />
            <div class="col-md-12 imgtxt">CATEGORIES</div>
          </div>
          <div class="col-md-3 imgdiv" routerLink="/roles">
            <img
              width="200"
              height="200"
              class="col-md-12"
              src="../../../assets/images/role.png"
            />
            <div class="col-md-12 imgtxt">ROLES</div>
          </div>
          <div class="col-md-3 imgdiv" routerLink="/requests">
            <img
              width="200"
              height="200"
              class="col-md-12"
              src="../../../assets/images/request.png"
            />
            <div class="col-md-12 imgtxt">REQUESTS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
